*{
    font-family: 'Ubuntu', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
   
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #3E3C3D;
}


#navTittle{
    color: #181818;
    font-size: 45px;
    font-weight: 700;

}
.text-primary{
    color:#8F22E7
}
.btn-primary{
    color: white;
    border: 0;
    border-radius: 5px;
    background:#8F22E7;
    font-size:20px;
    font-weight:700;
    padding: 15px 35px;

}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
#pro-pic{
    width: 500px;
    
}